{% load static %}
{% load projeto_tags %}
<div id="pageContent" class="container">
	<div class="row filters">
		<div class="col-sm-2 filters-title">
			Navegar por
		</div>
		<div class="col-sm-3 origem">
			<p><strong>Origem:</strong>
				<a href="#" id="mostrar-camara">Câmara</a> /
				<a href="#" id="mostrar-senado">Senado</a> /
				<a href="#" id="mostrar-tudo">Tudo</a>
			</p>
		</div>
		<div class="col-sm-7 categoria">
			<p><strong>Categoria:</strong>
				<a href="#" id="mostrar-acesso">
					<img src={% static "img/icone-acesso.svg" %} width="25" width="35" alt="ícone de acesso" />
					Acesso
				</a> /
				<a href="#" id="mostrar-priv">
					<img src={% static "img/icone-priv.svg" %} width="25" width="35" alt="ícone de privacidade" />
					Privacidade
				</a> /
				<a href="#" id="mostrar-libex">
					<img src={% static "img/icone-libex.svg" %} width="25" width="35" alt="ícone de liberdade de expressão" />
					Liberdade de Expressão
				</a> /
				<a href="#" id="mostrar-genero">
					<img src={% static "img/icone-genero.svg" %} width="25" width="35" alt="ícone de questões de gênero" />
					Gênero
				</a>
			</p>
		</div>
	</div>

	<div class="projetos-de-lei row">
	{% for projeto in projetos %}
		{% show_projeto projeto %}
	{% endfor %}
	</div>
	<div class="after-projetos text-center">
		<p>Feeds RSS das tramitações: <em><a href="https://duckduckgo.com/?q=o+que+são+feeds">(o que são feeds?)</a></em><br />
				<a href="feed/todos.xml">
					Todos os projetos
				</a> /
				<a href="feed/acesso.xml">
					<img src={% static "img/icone-acesso.svg" %} width="25" width="35" alt="ícone de acesso" />
					Acesso
				</a> /
				<a href="feed/priv.xml">
					<img src={% static "img/icone-priv.svg" %} width="25" width="35" alt="ícone de privacidade" />
					Privacidade
				</a> /
				<a href="feed/libex.xml">
					<img src={% static "img/icone-libex.svg" %} width="25" width="35" alt="ícone de liberdade de expressão" />
					Liberdade de Expressão
				</a> /
				<a href="feed/genero.xml">
					<img src={% static "img/icone-genero.svg" %} width="25" width="35" alt="ícone de questões de gênero" />
					Gênero
				</a>
		</p>
		<hr />
		<p>Dados extraídos do <a href="http://www2.camara.leg.br/transparencia/dados-abertos/dados-abertos-legislativo">WebServices da Câmara</a>, do serviço de <a href="http://dadosabertos.senado.gov.br/">Dados Abertos</a> do Senado<br /> e através de raspagem / <em>scraping</em> de alguns dados indisponíveis nos serviços.</p>
	</div>
</div>
